* {
    margin: 0;
    padding: 0;
}

.bb {
    width : 420px;
    height: auto; /*save aspect ratio*/
    background-image: url(img/image.jpg);
    background-size: 100%
}

body {
    text-align: center;
    color: rgb(250, 230, 255);
    background: rgb(15, 15, 15);
}


h3 {
    color: lightgray
}